footer {
    font-size: 30px;
    text-align: center;
<<<<<<< HEAD
}
header  {
    /* dubi dubi: daba daba; */
}
main {
    background-color: brown;
=======
}
header {
    dubi dubi: daba daba;
}
main {
    background-color: brown;
    color: aquamarine;
>>>>>>> origin/dev
}