

footer {
    font-size: 30px;
    text-align: center;



}

header{
    dubi dubi: daba daba;

}
/* header{
    dubi dubi: daba daba;
} */

main {
    background-color: brown;
    color: aquamarine;
}